.nav-bar {
  background-color:black;
  
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-bar li {
  width: 85px;
  flex: 2;
}

li {
  
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  padding:20px 5px;
  display: inline-block;
  text-align: center;
  transition:all 0.5s;
  font-family: netflix;
}

li:hover {
  background:rgba(0, 0, 0, 0.2);
  transform:scale(1.2);
}
link{
color: red;
text-decoration: none;
}